name: OAP MLlib Tests

on: [push, pull_request]

jobs:
  local-test-oneAPI_table:
    name: Local Test for Units (OneAPI Table)
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Restore cached dependencies
        uses: actions/cache@v3
        with:
          path: |
            #/var/cache/apt/archives/*.deb
            ~/.m2/repository
            /opt/intel/oneapi
            ~/opt
          key: ${{ runner.os }}_spark-3.2.0_hadoop-3.2.0_oneapi-2023.0.0
          restore-keys: |
            ${{ runner.os }}-
      - name: Local Test
        run: |
          ${{github.workspace}}/dev/ci/ci-local-dpc-test.sh
  local-test-CPU:
    name: Local Test for Units (CPU)
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Restore cached dependencies
        uses: actions/cache@v3
        with:
          path: |
            #/var/cache/apt/archives/*.deb
            ~/.m2/repository
            /opt/intel/oneapi
            ~/opt
          key: ${{ runner.os }}_spark-3.2.0_hadoop-3.2.0_oneapi-2023.0.0
          restore-keys: |
            ${{ runner.os }}-
      - name: Local Test
        run: |
          ${{github.workspace}}/dev/ci/ci-local-test.sh
  yarn-test:
    name: Yarn Test for Examples (CPU)
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Restore cached dependencies
        uses: actions/cache@v3
        with:
          path: |
            #/var/cache/apt/archives/*.deb
            ~/.m2/repository
            /opt/intel/oneapi
            ~/opt
          key: ${{ runner.os }}_spark-3.2.0_hadoop-3.2.0_oneapi-2023.0.0
          restore-keys: |
            ${{ runner.os }}-
      - name: Cluster Test
        run: |
          ${{github.workspace}}/dev/ci/ci-yarn-test.sh
  standalone-test:
    name: Standalone CPU_GPU_PROFILE Test for Examples (CPU)
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Restore cached dependencies
        uses: actions/cache@v3
        with:
          path: |
            #/var/cache/apt/archives/*.deb
            ~/.m2/repository
            /opt/intel/oneapi
            ~/opt
          key: ${{ runner.os }}_spark-3.2.0_hadoop-3.2.0_oneapi-2023.0.0
          restore-keys: |
            ${{ runner.os }}-
      - name: Cluster Test
        run: |
          ${{github.workspace}}/dev/ci/ci-standalone-test.sh
