name: OAP MLlib CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8      
      - name: Restore cached dependencies
        uses: actions/cache@v2
        with:
          path: |
            # /var/cache/apt/archives/*.deb
            ~/.m2/repository
            /opt/intel/oneapi
            ~/opt
          key: ${{ runner.os }}_spark-3.0.0_hadoop-2.7.7_oneapi-2021.3.0
      - name: Set up environments
        run: |          
          source ${{github.workspace}}/dev/setup-all.sh
      - name: Build and Test
        run: |
          ${{github.workspace}}/dev/ci-test.sh
